<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xml:lang="pt" lang="pt-br">
<h:form>
	<p:menubar autoSubmenuDisplay="true">
	
		<p:menuitem value="Home" url="homeAdmin.jsf" icon="ui-icon-home" style="font-size: 17px;" />
		
		<p:menuitem value="Reserva" action="#{reservaManager.limparReserva}" ajax="false" icon="ui-icon-clipboard" style="font-size: 17px;" />

		<p:submenu label="Cadastro" icon="ui-icon-document" style="font-size: 17px;" >
			<p:menuitem value="Sala" action="#{salaManager.preparaCadastro}" ajax="false" style="font-size: 17px;" />
			<p:menuitem value="Usuário" action="#{usuarioManager.limparUsuario}" ajax="false" style="font-size: 17px;" />
			<p:menuitem value="Acessorio" action="#{acessorioManager.cadastroAcessorio}" ajax="false" style="font-size: 17px;"/>
		</p:submenu>
		
		<p:submenu label="Pesquisar" icon="ui-icon-search" style="font-size: 17px;" >
			<p:menuitem value="Sala" url="listaSalas.jsf" />
			<p:menuitem value="Usuários" url="listaUsuarios.jsf" />
			<p:menuitem value="Acessorio" url="listaAcessorio.jsf" />
		</p:submenu>

		<p:menuitem value="Sair" actionListener="#{loginManager.logOut}" icon="ui-icon-power" helpText="CTRL+p" style="font-size: 17px;" />

	</p:menubar>
</h:form>
</html>